* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Playfair Display", serif;
  font-size: 1.6rem;
}

.hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.raspberry-color {
  color: rgb(229, 44, 106);
}

.navbar-brand {
  font-size: 2.2rem;
}

.nav-link,
.navbar-toggler-icon {
  font-size: 1.8rem;
}

.home {
  position: relative;
  height: 60rem;
  background-image: url("./images/interior.jpg");
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.home .btn {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.aboutus-box h3 {
  font-size: 2.3rem;
  text-transform: uppercase;
  font-weight: bold;
}

.aboutus-icon {
  font-size: 4rem;
}
